<!DOCTYPE html>
<html>
    <head>
        <title>Walkiiiy -within cells interlinked</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">        
    </head>

    <body>
    <section id="app" v-cloak>
        <!-- 导航栏 -->
        <div class="flex_disply">
        <ol class="navbar">
            <li><button @click="chose_page(0)">home</button></li>
            <li><button @click="chose_page(1)">blog</button></li>
            <li><button @click="chose_page(2)">works</button></li>
        </ol>
        <ol class="contact">
            <li><button @click="chose_page(3)">contact</button></li>
        </ol>
        </div>


        <!--首页-->
        <transition name="slide-fade">
        <div class="compelete_center" v-if="page[0]">
            <h1>Hello :)</h1>
        </div>
        </transition>

        <!--博客页-->
        <transition name="slide-fade">
        <div v-if="page[1]" id="blog">
            <h2>Walkiiiy's blog</h2>
            <ol id="blog_list">
                <li><a class="bloglink" href="blog/photos/photos_23_9_9.html">photos_23_9_9</a></li>
                <li><a class="bloglink" href="blog/js/js对象和方法.html">js对象和方法</a></li>
                <li><a class="bloglink" href="blog/vue/vue.js_工程化配置.html">vue.js与vite_工程化 配置</a></li>
                <li><a class="bloglink" href="blog/bds_manual.html">mc_bds_服务器手册</a></li>
                <li><a class="bloglink" href="blog/js/js箭头函数.html">js箭头函数</a></li>
                <li><a class="bloglink" href="blog/photos/photos_23_8_21.html">photos_23_8_21</a></li>
                <li><a class="bloglink" href="blog/js/vue_notebook.html">vue_notebook</a></li>
                <li><a class="bloglink" href="blog/js/js数组.html">js数组</a></li>
                <li><a class="bloglink" href="blog/c++/c++const.html">c++const</a></li>
                <li><a class="bloglink" href="blog/c++/c++静态变量.html">c++静态变量</a></li>
                <li><a class="bloglink" href="blog/c++/c++类型转换.html">c++类型转换</a></li>
                <li><a class="bloglink" href="blog/vim编辑器使用.html">vim编辑器使用</a></li>
                <li><a class="bloglink" href="blog/photos/photos_23_8_6.html">ptohos_23_8_6</a></li>
                <li><a class="bloglink" href="blog/photos/photos_old.html">photos_old</a></li>
                <li><a class="bloglink" href="blog/ubuntu服务器中的lamp架构搭建及配置.html">ubuntu中的lamp架构搭建及配置</a></li>
                <li><a class="bloglink" href="blog/markdown格式说明.html">markdown格式说明</a></li>
                <li><a class="bloglink" href="blog/algorithms/动态规划算法_最长子串.html">动态规划算法_最长子串</a></li>
                <li><a class="bloglink" href="blog/git.html">git&github</a></li>
                <li><a class="bloglink" href="blog/algorithms/贪心算法.html">贪心算法</a></li>
            </ol>
        </div>
        </transition>

        <!--works-->
        <transition name="slide-fade">
        <div v-if="page[2]">
            <h2>Walkiiiy's works</h2>
            <ol id="blog_list">
                
            </ol>
        </div>
        </transition>


        <!--contact-->
        <transition name="slide-fade">
        <div v-if="page[3]" id="contact">
            <p>Feel free to contact me:<br> 3072268178@qq.com<br></p>
        </div>
        </transition>

        <!--页脚-->
        <div id="bottom_line">
            <p>Welcome! This is the personal site of Walkiiiy.</p>
        </div>
    </section>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
        <script>
            const app=new Vue({
                el:"#app",
                data:{
                    page:[1,0,0,0],
                },
                methods:{
                    chose_page(id){
                        this.page=[0,0,0,0];
                        this.page[id]=1;
                    }
                },
            })            
        </script>

    </body>
</html>
